<div ui-content-for="topNavBar">
    <div class="navbar-brand">
        <span>
            <i class="fa fa-question-circle"></i>
            About LDS Meeting Organizer
        </span>
    </div>
</div>

<div class="scrollable" ui-state="searchBar">
    <div class="scrollable-content">
        <div class="list-group">
            <div class="list-group-item">
                <h2>What problems does LDS Meeting Organizer Solve?</h2>
                asdf
                <h2>Who created LDS Meeting Organizer?</h2>
                <p><a href="http://www.trevorallred.com/">Trevor Allred</a></p>
            </div>
        </div>
    </div>
</div>
