<div ui-content-for="topNavBar">
    <div class="btn-group pull-left">
        <a class="btn btn-navbar" href="#/schedule/{{ week.label }}">
            <i class="fa fa-calendar"></i>
            Back to Meeting
        </a>
    </div>

    <div class="navbar-brand navbar-brand-center">
        <span>
            Choose {{ songType | songType }} for {{ week.date }}
        </span>
    </div>
</div>

<div ui-content-for="bottomNavBar">
    <div class="btn-group pull-right">
        <a class="btn btn-navbar" href="#/schedule/{{ week.label }}">
            <i class="fa fa-floppy-o"></i>
            Save
        </a>
    </div>
</div>

<div class="scrollable">
    <div class="scrollable-content">
        <div class="section">
                <div class="btn-group pull-right">
                    <div class="btn-group pull-right">
                        <a ui-turn-on='myDropdown' class='btn'>
                            Sort By
                            <i class="fa fa-ellipsis-v"></i>
                        </a>
                        <ul
                                class="dropdown-menu"
                                ui-outer-click="Ui.turnOff('myDropdown')"
                                ui-outer-click-if="Ui.active('myDropdown')"
                                role="menu"
                                ui-show="myDropdown"
                                ui-state="myDropdown"
                                ui-turn-off="myDropdown">

                            <li><a href="" data-ng-click="orderBy = 'suggested'">Suggested</a></li>
                            <li><a href="" data-ng-click="orderBy = 'number'">Number</a></li>
                            <li><a href="" data-ng-click="orderBy = 'name'">Title</a></li>
                            <li><a href="" data-ng-click="orderBy = 'popularity'">Popularity</a></li>
                        </ul>
                    </div>
                </div>

                <input type="search" class="form-control" data-ng-model="search" placeholder="filter hymns">
                <div class="list-group">
                    <div class="list-group-item" data-ng-repeat="hymn in hymns | filter: search | orderBy: orderBy">
                        <button class="btn btn-default" data-ng-click="choose(hymn)">Choose</button>
                        {{ hymn.number }} - {{ hymn.name }}
                        <a class="btn btn-default pull-right" href="#/schedule/{{ week.label }}/song/{{ songType }}/{{ hymn.page }}">
                            Details
                            <i class="fa fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <form>
                    <label>Song Title</label>
                    <input type="text" data-ng-model="other">
                    <button class="btn btn-default" data-ng-click="choose(hymn)">Save</button>
                </form>
        </div>

    </div>
</div>
